body {
    background-color: black;

 }
 
 p {
     color: green;
 }
 
 h1 {
   font-size: 36px;
   color: green;

 }
 
 /* h1, h2, ol, p {
    text-align: center;
 } */
 
 .center {
    text-align: center;
    text-align: Record;
 }
 
 #cool-text {
     color: blue;
 }
 
 #cool-color {
    color: hotpink;
 }

 